.secondary {
    background-color: black;
    color: white;
}

.dash-inner {
    background-color: #1D1D1D;
    border-radius: 10px;
} 

.table-adjust{
    background-color: #1D1D1D;
}

form {
    color: #555;
    display: flex;
    padding: 2px;
    border-radius: 5px;
}

input[type="search"] {
    border: none;
    background-color: #1D1D1D;
    margin: 0;
    padding: 7px 8px;
    font-size: 14px;
    color: inherit;
    border-radius: inherit;
}

input[type="search"]::placeholder {
    color: #bbb;
}

.search{
    background-color: #1D1D1D;
    color: white;
    border: none;
}

.submit-btn {
    background-color: #e80cc0;
    border: none;
    padding: 10px 25px;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    letter-spacing: 1px;
}

.payment-table {
    width: 100%;
}

.payment-item td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.payment-item th {
    background-color: #f2f2f2;
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.no-payments-message {
    color: #ff6666; /* Example text color */
    font-weight: bold;
}